<div class="container-fluid">
    <div class="row marketing music-box">
        <div class="music" ng-repeat="solo in solos">
            <div class="music-content">
                <div class="row">
                    <div class="col-xs-3">
                        <p class="song-number">{{solo.no}}</p>
                    </div>
                    <div class="col-sm-offset-3 col-xs-6">
                        <div class="hidden-xs">
                            <h4><strong>{{solo.artist}}</strong></h4></div>
                        <h5>{{solo.song}}</h5>
                        <a>
                            <caption>{{solo.guitarBy}}</caption>
                        </a>
                    </div>
                    <div class="col-xs-3 play-pause hidden-xs hidden-sm hidden-lg">
                        <a>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 200 200" onclick="document.getElementById('song').play()">
                                <rect xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="200" height="200" />
                                <polygon xmlns="http://www.w3.org/2000/svg" points="40,25 175,100 40,175" fill="white" />
                            </svg>
                        </a>
                        <a>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 200 200" onclick="document.getElementById('song').pause()">
                                <rect xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="200" height="200" />
                                <rect xmlns="http://www.w3.org/2000/svg" x="25" y="25" width="60" height="150" fill="white" />
                                <rect xmlns="http://www.w3.org/2000/svg" x="112.5" y="25" width="60" height="150" fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                        <audio id="song" xmlns="http://www.w3.org/1999/xhtml" controls>
                            <source ng-src={{solo.src}} type="audio/mpeg" />
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>