<div class="jumbotron">
</div>

<div class="container-fluid">
    <div class="row marketing music-box">
        <div class="music" ng-repeat="solo in solos">
            <div class="music-content">
                <div class="row">
                    <div class="col-sm-2">
                        <p class="number">{{solo.no}}</p>
                    </div>
                    <div class="col-sm-7">
                        <h4>{{solo.artist}}</h4>
                        <h5>{{solo.song}}</h5>
                    </div>
                    <div class="col-sm-3">
                        <img ng-src="{{solo.image}}" class="thumbnail"/>
                        <caption>{{solo.guitarBy}}</caption>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>